<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not found</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
      main {
        display: grid;
        justify-content: center;
        padding-top: 20px;
      }
    </style>
  </head>
  <body>
    <header>
      My Logo
      <ul class="menu-container">
        <li><a href="/">Home</a></li>
        <li><a href="/admin/add-products">Add product</a></li>
        <li><a href="/admin/products">See all product</a></li>
      </ul>
    </header>
    <main>
      <h1>Page not found!</h1>
      <p>
        Ooppss.. The page you are looking doesnot exists. Please check the url.
      </p>
    </main>
  </body>
</html>
